{% extends 'base.html' %}
{% load static %}

{% block title%}Contact{% endblock title%}

{% block content%}

<section class="about-section center-row">

    <div class="about-image-container center-row">
<img src="{% static './img/me.jpg' %}" alt="about">
</div>

    <div class="about-descriptions-container center-column">
        <h1>My Role as a Developer</h1>
        <h2> Christina Nkya</h2>
        <p>Hello, I am a newly Full Stack Developer graduate diving headfirst into the world of software development. Armed with a passion for coding and a knack for problem-solving, I'm excited to start my journey in tech.
        </p>
        <div class="skills-container center-column">
            <h2> Skills</h2>
            <div class="skills-list center-row">
            <label class="text-label">Javascript</label>
            <label class="text-label">Python</label>
            <label class="text-label">React</label>
            <label class="text-label">Databases: SQL, Monogo DB</label>
            <label class="text-label">Version control: Git</label>
            <label class="text-label">Communication</label>
            <label class="text-label">Problem-Solving</label>
            
        
        </div>
</div>

    </div>
</section>

{% endblock content%}