{% extends 'base.html' %}
{% load static %}


{% block title %} Experience {% endblock title%}

{% block content %}

<section class="experience-section center-column">
    <h2>Experience</h2>


    <div class="experience-list center-row">
        <div class="experience-card">
        
            <p>Name of School or Company</p>
            <p>Short description about course or company. No more than 5 lines</p>
            <p>Month-Month 2024</p>

            <div class="experience-skills">
                <label class="text-label">Skills 1</label>
                <label class="text-label">Skills 2</label>
                <label class="text-label">Skills 3</label>
                <label class="text-label">Skills 4</label>
                <label class="text-label">Skills 5</label>
            </div>
            
        </div>
        <div class="experience-card">
        
            <p>Name of School or Company</p>
            <p>Short description about course or company. No more than 5 lines</p>
            <p>Month-Month 2024</p>

            <div class="experience-skills">
                <label class="text-label">Skills 1</label>
                <label class="text-label">Skills 2</label>
                <label class="text-label">Skills 3</label>
                <label class="text-label">Skills 4</label>
                <label class="text-label">Skills 5</label>
            </div>
            
        </div>
        <div class="experience-card">
        
            <p>Name of School or Company</p>
            <p>Short description about course or company. No more than 5 lines</p>
            <p>Month-Month 2024</p>

            <div class="experience-skills">
                <label class="text-label">Skills 1</label>
                <label class="text-label">Skills 2</label>
                <label class="text-label">Skills 3</label>
                <label class="text-label">Skills 4</label>
                <label class="text-label">Skills 5</label>
            </div>
            
        </div>
        
    
        </div>
    </div>
</section>


{% endblock content %}