/*About Me*/
.about-section {
    padding: 2%;
}
.about-image-container img {
    width: 100%;
    
}

.about-image-container {

    width: 100%;
}

.about-descriptions-container {
    
    width: 70%;
}

.about-descriptions-container p {
    width: 90%;
    margin: 2rem 0;
}

.skills-list {
    flex-wrap: wrap;
    width: 70%;
    gap: 1rem;
    margin: 2rem 0;
}